body {
    background-color: black;
    overflow-x: hidden;
}
h2 {
    font-size: larger;
    color: white;
    margin-bottom: 0.5em;
}
::-webkit-scrollbar{
    width: 0px;
}
a.Top {
    position: fixed; 
    z-index: 9999; 
    bottom: 0%; 
    right: 0%;
    font-size: xx-large;  
    color: green; 
    padding: 10px; 
    margin: 5px 15px 15px 5px; 
    -moz-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
   }
a.Bottom {
    position: fixed; 
    z-index: 9999; 
    bottom: 0%; 
    left: 0%;
    font-size: xx-large;  
    color: green; 
    padding: 10px; 
    margin: 5px 15px 15px 5px; 
    -moz-user-select: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
   }
